.mainHeader .title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-bg-ultra-light);
}
.mainHeader .navigation {
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.25);
}
.mainHeader .navigation ul {
	padding: 0px;
}
.mainHeader .navigation li {
	display: inline;
	margin: 0px 10px;
	color: var(--color-bg-ultra-light);
}
.mainHeader .navigation li.active {
	font-weight: bold;
	color: #fff;
}
.title h1 {
	color: var(--color-primary);
	font-size: 2.2rem;
	text-transform: uppercase;
	font-family: "open sans";
	font-weight: 100;
	padding: 0;
	margin: 0;
	text-align: center;
	line-height: 1em;
}
.title h1 span {
	color: var(--color-secondary);
}
.logo {
	margin-left: 20px;
	margin-top: 20px;
}
